   <div class="container-fluid" style="background: #dedede; height: 100vh;">
       <div class="row">
           <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header text-center" style="padding: 5px;">
                        <h3>Ingresar</h3>
                    </div>
                    <div class="card-body" style="padding: 20px;">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                            <p class="text-muted">Ingresa tus credenciales</p>
                            <div class="form-group">
                              <input type="text" formControlName="rut" name="rut" (keyup)="formarRut()" [ngClass]="{ 'is-invalid': (submitted && f.rut.errors) || (submitted && !validRut) }" class="form-control" placeholder="Rut" autocomplete="rut" required>
                              <div *ngIf="(submitted && f.rut.errors) || (submitted && !validRut)" class="invalid-feedback text-danger">
                                <div *ngIf="f.rut.errors && f.rut.errors.required">Rut es requerido</div>
                                <div *ngIf="!validRut">Debe ingresar un rut valido</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" placeholder="Contraseña" autocomplete="new-password" required>
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
                                <div *ngIf="f.password.errors.minlength">Minimo 6 caracteres</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <select class="form-control" id="role">
                                <option *ngFor="let rol of roles" value="{{rol.value}}">{{rol.name}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-fill" id="btnSubmit">
                                  <span *ngIf="btnLoad" class="spinner-border spinner-border-sm"></span>
                                  Ingresar
                                </button>
                              <div class="col-6 text-right">
                                <!-- <button type="button" class="btn btn-link px-0">Recuperar contraseña</button> -->
                              </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
   </div>