<div class="container-fluid">
    <div class="card card-body mt-2 p-2">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Año:</label>
                    <select class="form-control" name="" id="" [(ngModel)]="filter.year" (change)="getPeriods()">
                        <option value="0">Todas</option>
                        <option *ngFor="let year of yearsFilter" value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Periodo:</label>
                    <select class="form-control" name="" id="" [(ngModel)]="filter.period" (change)="getSections()">
                        <option value="0">Todos</option>
                        <option *ngFor="let period of periodsFilter" value="{{period}}">{{period}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Sección:</label>
                    <select class="form-control" name="" id="" [(ngModel)]="filter.section" (change)="getCareer()" >
                        <option value="0">Todas</option>
                        <option *ngFor="let section of sectionsFilter" value="{{section}}">{{section}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Carrera:</label>
                    <ng-select
                            bindLabel="career"
                            bindValue="id"
                            [(ngModel)]="filter.career"
                            (change)="getSubjects()">
                            <ng-option *ngFor="let car of careersFilter" [value]="car">{{car}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Asignatura:</label>
                    <ng-select
                            bindLabel="subject"
                            bindValue="subj"
                            [(ngModel)]="filter.subject">
                            <ng-option *ngFor="let sub of subjectsFilter" [value]="sub">{{sub}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-info btn-fill" (click)="searchSegment()">
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <div class="card card-body mt-2 p-2">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <button class="btn btn-block mt-2 btn-info btn-fill" (click)="openModal(template)">
                        Agregar
                    </button>
                    <select name="" class="form-control mt-2" id="" [(ngModel)]="filter.limit">
                        <option *ngFor="let quant of SELECTS.QUANT" value="{{quant.value}}">{{quant.text}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Buscar</label>
                   <input type="text" class="form-control" name="" id="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table style="text-align: center;" class="table table-hover">
                    <thead class="bg-dark" style="font-weight: bold;">
                      <tr>
                        <td style="font-weight: bold;">Carrera</td>
                        <td style="font-weight: bold;">Asignatura</td>
                        <td style="font-weight: bold;">Sección</td>
                        <td style="font-weight: bold;">Año</td>
                        <td style="font-weight: bold;">Periodo</td>
                        <td style="font-weight: bold;">Accion</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let seg of segments">
                        <td>{{seg.career}}</td>
                        <td>{{seg.subject}}</td>
                        <td>{{seg.section}}</td>
                        <td>{{seg.year}}</td>
                        <td>{{seg.period}}</td>
                        <td>
                            <button class="btn btn-sm btn-info btn-fill m-1">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-danger btn-fill m-1">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nuevo segmento</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 pl-4 pr-4">
                <form [formGroup]="segmentForm" (ngSubmit)="onSubmit(segmentForm.value)">
                    <div class="form-group">
                        <label for="">Carrera:</label>
                        <input type="text" class="form-control" formControlName="career"
                            [ngClass]="{ 'is-invalid': submitted && f.career.errors }">
                        <div *ngIf="submitted && f.career.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.career.errors.required">Este campo es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Asignatura:</label>
                        <input type="text" class="form-control" formControlName="subject"
                            [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                            <div *ngIf="submitted && f.subject.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.subject.errors.required">Este campo es requerido</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="">Sección:</label>
                        <input type="text" class="form-control" formControlName="section"
                            [ngClass]="{ 'is-invalid': submitted && f.section.errors }">
                        <div *ngIf="submitted && f.section.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.section.errors.required">Este campo es requerido</div>
                            <div *ngIf="f.section.errors.pattern">Solo números</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Año:</label>
                        <input type="text" class="form-control" formControlName="year"
                            [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.year.errors.required">Este campo es requerido</div>
                            <div *ngIf="f.year.errors.pattern">Solo números</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Periodo:</label>
                        <input type="text" class="form-control" formControlName="period"
                            [ngClass]="{ 'is-invalid': submitted && f.period.errors }">
                        <div *ngIf="submitted && f.period.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.period.errors.required">Este campo es requerido</div>
                            <div *ngIf="f.period.errors.pattern">Solo números</div>
                        </div>
                    </div>
                    <button [disabled]="btnLoad" type="submit" class="btn btn-info btn-fill btn-block">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</ng-template>